html,body{width:100%;height:100%;float:left;text-align:center;margin:0px;padding:0px;text-align:center;background-color:#222;font-family: sans-serif;}
a{text-decoration:none;color:#000;font-weight:600;}
a:hover{color:#f00;}
a#gh{font-weight:900;}
table{width:500px;height:100%;float:none;margin:0px auto;padding:0px;text-align:center;font-family:"Roboto",sans-serif;}
table td{width:100%;height:100%;vertical-align:middle;}
div{background-color:#fff;color:#000;padding:35px 50px;padding-bottom:2px;box-sizing:border-box;border:none;border-radius:20px;}
div h1,div p{width:100%;margin:0px;padding:0px;}
div h1{margin-bottom:20px;color:#000;}
div p{font-size:18px;line-height:26px;margin-top:12px;}
